.shape {
  height: 0;
  color: rgb(44, 5, 5);
  background-color: green;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}